/StackExchange/nbproject/private/
/StackExchangeAuth/nbproject/private/
/StackExchangeService/nbproject/private/
/StackExchange/build/
/StackExchangeService/build/
/StackExchangeAuth/build/
/StackExchangeService/dist/StackExchangeService/src/java/Config/DB.java
