/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2015, 3:28:19 PM
    Author     : FiqieUlya
*/
h1{
    
}
.container {
    margin: auto;
    width: 70%;
    padding: 5%;
    overflow:auto;
}
.login-form {
  top: 0;
  right: 5%;
  width: 25%;
  background-color: lightcyan;
  position: fixed;
}

.login {
  //position: relative;
  margin: auto;
  padding: 20px 20px 20px;
  width: 310px;
}
form.search-box{
	width:80%;
	margin:auto;
	text-align:center;
}
form.search-box > input[type="text"]{
	width:70%;
	float:none;
}
form.search-box > input[type="submit"]{
	width:15%;
	float:none;
}
.center{
	text-align:center;
}
