<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Answer.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>Answer.Test2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestRest</servlet-name>
        <servlet-class>Answer.TestRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test3</servlet-name>
        <servlet-class>Answer.Test3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionList</servlet-name>
        <servlet-class>Question.QuestionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionView</servlet-name>
        <servlet-class>Question.QuestionView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionNew</servlet-name>
        <servlet-class>Question.QuestionNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionAsk</servlet-name>
        <servlet-class>Question.QuestionAsk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/Test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestRest</servlet-name>
        <url-pattern>/TestRest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test3</servlet-name>
        <url-pattern>/Test3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionList</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionView</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionNew</servlet-name>
        <url-pattern>/newquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionAsk</servlet-name>
        <url-pattern>/ask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
