.container {
    width:50%;
    margin:auto;
    padding:1% 5% 5% 5%; 
    border: 1px solid #000000;
}


.login {
    width:50%;
    margin:auto;
    padding:1% 5% 5% 5%; 
}
form.login-form > input[type="text"]{
    margin: auto;
    display: block;
    width: 99%;
}
form.login-form > input[type="password"]{
    margin: auto;
    display: block;
    width: 99%;
}
form.login-form > input[type="checkbox"]{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
form.login-form > input[type="label"] {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}


form.search-box > input[type="text"]{
    width:82%;
    display:block;
    border: 2px solid;
    height: 25px;
    padding-left:1%;
    float: left;
}
form.search-box > input[type="submit"]{
    width:15%;
    height: 30px;
    border: 2px solid;
    float: right;
}




.center{
	text-align:center;
}

table {
    width: 100%;
    border-collapse:collapse;
}
img {
    width:20px;
    height:15px;
}
#inputtext1{
    width:99%;
    display:block;
    border: 1px solid;
    height: 25px;
    padding-left:1%;
}
textarea {
    width:99%;
    height:150px;
    border: 1px solid;
    resize: none;
    padding-left:1%;
}
input[type=submit] {
    width:80px;
    border: 1px solid;
    float: right;
}

