<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Static Asset -->
    <!--
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    
    
-->
    <!-- Route -->
    <servlet>
        <servlet-name>Index Page</servlet-name>
        <servlet-class>org.stackexchange.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAddQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.CheckAddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewQuestionServlet</servlet-name>
        <servlet-class>org.stackexchange.controller.AddNewQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index Page</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkAddQuestion</servlet-name>
        <servlet-class>org.stackexchange.controller.CheckAddQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkAddQuestion</servlet-name>
        <url-pattern>/checkAddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAddQuestionServlet</servlet-name>
        <url-pattern>/CheckAddQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewQuestionServlet</servlet-name>
        <url-pattern>/AddNewQuestionServlet</url-pattern>
    </servlet-mapping>
</web-app>
