<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>com.dazzlesquad.servlet.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPage</servlet-name>
        <servlet-class>com.dazzlesquad.servlet.QuestionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>com.dazzlesquad.servlet.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnswer</servlet-name>
        <servlet-class>com.dazzlesquad.servlet.AddAnswer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPage</servlet-name>
        <url-pattern>/QuestionPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnswer</servlet-name>
        <url-pattern>/AddAnswer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/stackexchange</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
